:root {
  --primary-font: "Rowdies", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
  --primary-red: #fe3b1f;
  --primary-white: #ffffff;
  --primary-black: #000000;
}
body {
  background-image: url(../images/main-bg.jpg);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--secondary-font);
}
h1,
h2 {
  font-family: var(--primary-font);
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
.container__section-1 {
  overflow: hidden;
}
.section-1 {
  padding: 0.5rem;
  justify-content: space-evenly;
  height: 100vh;
  overflow: hidden;
}
.heading__h1,
.heading__h2 {
  margin-top: 2rem;
  color: var(--primary-red);
  font-weight: 400;
  font-size: 2em;
  text-align: center;
}
.links__start {
  padding: 1rem 3rem;
  border-radius: 3rem;
  background: var(--primary-red);
  color: var(--primary-white);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: none;
}
.links__applications {
  color: var(--primary-white);
  text-align: center;
}
.section-2,
.section-3,
.section-4,
.section-5 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
  display: none;
}
.section-2__form-wrapper,
.section-3__form-wrapper,
.section-4__form-wrapper,
.section-5__form-wrapper {
  background: var(--primary-white);
  text-align: center;
  color: #fff;
}
.section-2__form,
.section-3__form,
.section-4__form,
.section-5__form {
  position: relative;
  margin-top: 3rem;
}
.section-4__form, .section-5__form {
  margin: 1rem;
  color: var(--primary-black);
  text-align: left;
}
.section-3__form {
  display: inline-block;
}
.form__skills-btn {
  padding: .3rem 1rem;
  font-size: 60%;
  background: var(--primary-red);
  border: none;
  color: var(--primary-white);
  cursor: pointer;
}
.field__radio {
  margin: .5rem;
}
.field__date {
  margin: 1rem 0;
  align-items: flex-start;
  gap: .5rem;
  display: none;
}
.field__textarea {
  padding: 1rem;
}
.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .3rem;
}
.field__error {
  color: var(--primary-red);
  font-size: 75%;
  font-weight: bold;
  font-family: var(--secondary-font);
  margin-top: 5px;
}
.field__input, .date__input, .field__select, .textarea__input {
  padding: 0.3rem;
  outline: none;
  border: 1px solid #525557;
  resize: none;
}
.field__select {
  width: 100%;
  margin-bottom: .3rem;
}
.textarea__input {
  margin-top: 1rem;
}
.skills__input {
  position: relative;
  margin-top: .5rem;
  color: var(--primary-black);
  text-align: left;
}
.delete-skill {
  position: absolute;
  justify-content: space-evenly;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--primary-red);
  top: 50%;
  right: .5rem;
  transform: translateY(-50%);
  font-size: 2rem;
  color: var(--primary-red);
  cursor: pointer;
}
::placeholder {
  font-style: italic;
}
.section-2__buttons,
.section-3__buttons,
.section-4__buttons,
.section-5__buttons {
  margin: 75px 0 2rem 0;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
}
.buttons__change-page {
  cursor: pointer;
}
.eclipse {
  width: 1.2rem;
  height: 1.2rem;
  background: var(--primary-red);
  border-radius: 50%;
  opacity: 0;
}
.show {
  opacity: 1;
}
.section-2__text-wrapper,
.section-3__text-wrapper,
.section-4__text-wrapper,
.section-5__text-wrapper {
  background: url(../images/main-bg.jpg);
}
.text-wrapper__text {
  padding: 1rem;
  font-size: 1.2rem;
  color: var(--primary-white);
  text-align: left;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.section-6 {
  height: 100vh;
  justify-content: center;
  display: none;
}
.section-6__submit {
  border-radius: 50px;
  font-size: 2em;
  padding: .3rem 3rem;
  background: var(--primary-red);
  border: none;
  color: var(--primary-white);
  cursor: pointer;
}
.section-6__goback {
  text-decoration: underline;
  border: none;
  background: transparent;
  color: var(--primary-white);
  font-size: 1.5em;
  cursor: pointer;
}