:root {
  --primary-font: "Rowdies", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
  --primary-red: #fe3b1f;
  --primary-white: #ffffff;
  --primary-black: #000000;
}
body {
  /* background: var(--primary-black); */
  /* background-image: url(../images/main-bg.jpg); */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--secondary-font);
}
h1,
h2 {
  font-family: var(--primary-font);
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}


.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
.container__section-1 {
  overflow: hidden;
}
.section-1 {
  padding: 0.5rem;
  justify-content: space-evenly;
  height: 100vh;
  overflow: hidden;
}
.heading__h1,
.heading__h2 {
  margin-top: 2rem;
  color: var(--primary-red);
  font-weight: 400;
  font-size: 2em;
  text-align: center;
}
.links__start {
  padding: 1rem 3rem;
  border-radius: 3rem;
  background: var(--primary-red);
  color: var(--primary-white);
  text-decoration: none;
  text-align: center;
}
.links__applications {
  color: var(--primary-white);
  text-align: center;
}


.section-2,
.section-3,
.section-4 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
}
.section-2__form-wrapper,
.section-3__form-wrapper,
.section-4__form-wrapper {
  text-align: center;
}
.section-2__form,
.section-3__form,
.section-4__form {
  margin-top: 3rem;
}
.section-4__form {
  margin: 1rem;
  text-align: left;
}
.field__radio {
  margin: .5rem;
}
.field__date {
  margin: 1rem 0;
  align-items: flex-start;
  gap: .5rem;
}
.form__field {
  margin: 0.5rem;
}
.field__input, .date__input {
  padding: 0.3rem;
  outline: none;
  border: 1px solid #525557;
}
::placeholder {
  font-style: italic;
}
.section-2__buttons,
.section-3__buttons,
.section-4__buttons {
  margin: 75px 0 2rem 0;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
}
.section-2__buttons a,
.section-3__buttons a,
.section-4__buttons a {
  width: 1.2rem;
  height: 1.2rem;
  background: var(--primary-red);
  border-radius: 50%;
}
.section-2__text-wrapper,
.section-3__text-wrapper,
.section-4__text-wrapper {
  background: var(--primary-black);
}
.text-wrapper__text {
  padding: 1rem;
  font-size: 1.2rem;
  color: var(--primary-white);
  text-align: left;
}
